.cards-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6% 6% 6%; 
    justify-content: flex-start;   
}

.card-body{
    margin: 1.5em;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    min-width: 14em;
    min-height: 17em;
    padding: 1em;
    justify-content: space-between;
}

.card-title{
    text-align: center;
}

.card-img{
    width: 14em;
    height: auto;
    max-height: 9em;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

.book-btn-box, .read-more-btn-box{
    align-self: flex-end;
    width: 5em;
    height: 2em;
    border: 1px solid rgb(201, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}


.read-more-btn, .book-btn{
    text-decoration: none;
    color: black;   
}

.information{
    height: 20em;
    padding: 2em;
}