.react-calendar {
    margin: 2em;
    border-color:rgb(70, 91, 148);
}

h2{
    font-family: 'Abril Fatface', cursive;
    margin-left: 2em;
}

.button-datepicker {
    padding: 12px 20px;
    margin-left: 3em;
    background-color: #333;
    color: white;
}

.datepicker-container{
    display: block;
}