.btn-gb {
    background-color: #333;
    color: white;
    padding: 16px 24px;
}
.image-container{
    display: block;
    padding: 50px;
}

.btn-container-dos {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.information-text{
    padding:50px;
}

.mainImage{
    width: 100%;
    height: auto;
}

.subImage{
    width: 32%;
    height: auto;
    margin-right: 4px;
    
}

.information-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
}

#star-container{
    margin-left:3em;
}

.btn-show-more{
    width:10em;
    margin:0 0 3em 3em;
    cursor: pointer;
}
.comment-box{
    background-color: rgb(247, 247, 247);
    margin:0 0 3em 3em;
    padding: 1em;
    width: 40%;
}

.similarDestinations{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6% 6% 6%; 
    justify-content: flex-start;   
}

.similarDestinationsTitle{
    margin: 3em;
    border-bottom: 1px solid lightgray;
}